# Database
POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow
POSTGRES_PORT=5434

# Backend
ENV=development
APP_VERSION=0.1.0
DEBUG=1
BACKEND_PORT=5001

# Database connection
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://taskflow:taskflow@db:5432/taskflow

# Frontend
FRONTEND_PORT=3000